body {
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
}

.container {
  text-align: center;
  background-color: #ecf0f1;
  width: 900px;
  margin: 50px 0px;
  border-radius: 50px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.currMonth {
  color: #2c3e50;
  font-size: 38px;
  margin: 23px;
}

.handleMonth-button {
  height: 80px;
}

.backMonthBtn, .nextMonthBtn {
  all: unset;
  color: #2c3e50;
  font-weight: bolder;
  font-size: 20px;
  padding: 8px;
  margin: 10px 5px;
  cursor: pointer;
}

.backMonthBtn:hover, .nextMonthBtn:hover {
  font-size: 30px;
  transition: font-size .3s;
}

.calender {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calender-days {
  display: grid;
  grid-template-columns: repeat(7, 120px);
  grid-template-rows: repeat(1, 50px);
  grid-gap: 5px;
}

.calender-day {
  font-size: 23px;
  font-weight: bold;
}

.calender-dates {
  display: grid;
  grid-template-columns: repeat(7, 120px);
  grid-template-rows: repeat(6, minmax(100px, auto));
  grid-gap: 5px;
}

.calender-dates > div {
  border: 1px dotted #bdc3c7;
}


.date-userList {
  display: grid;
  grid-template-columns: repeat(2, 60px);
  justify-content: center;
  grid-gap: 5px 0px;
}

.userList {
  display: flex;
  justify-content: center;
  height: 55px;
  align-items: center;
  margin: 5px;
}

.userList > div:hover {
  cursor: pointer;
  border: 1px solid #7f8c8d;
}

.userController {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.userBtn {
  border-radius: 75px;
  width: 60px;
  height: 60px;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.userBtn:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: 1px solid black;
}

.addUserBtn {
  all: unset;
  font-size: 30px;
  color: #bdc3c7;
  font-weight: bolder;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px 50px;
  text-align: center;
  position: relative;
  width: 20%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.modal-currContent {
  display: flex;
  flex-direction: column;
}

.inputUserName {
  width: 120px;
  height: 25px;
  border: 2px solid #bdc3c7;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}

.btns {
  height: 70px;
}

.modalBtn-design {
  all: unset;
  margin: 10px 7px;
  background-color: #2c3e50;
  padding: 5px;
  border-radius: 4px;
  font-weight: bolder;
  color: whitesmoke;
}

.modalBtn-design:hover {
  padding: 7px;
  transition: padding .3s;
}

.hidden {
  display: none;
}

.selected-user {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.day-sun {
  color: #cf6a87;
}

.day-sat {
  color: #778beb;
}

.haveEvent:hover {
  border: 1px dashed #2c3e50;
}

.date-num {
  font-size: 20px;
}

.user {
  margin: 0px 15px;
  font-size: 20px;
  width: 80px;
  border-radius: 10px;
  color: #303952;
  padding: 3px 0px;
  cursor: pointer;
}

.user-name {
  padding: 0px 4px;
}

.userColor-pink {
  background-color: #ffcccc;
}

.userColor-purple {
  background-color: #a29bfe;
}

.userColor-yellow {
  background-color: #fffa65;
}

.userColor-green {
  background-color: #badc58;
}
.userColor-blue {
  background-color: #7ed6df;
}
